/*[fmt]1A20-1A0A-3*/
/*$Id: fusion-starter-style.css,v 1.1.2.6 2010/02/14 06:44:16 sociotech Exp $*/
/*+clearfix {*/
.ntype-candidate fieldset.group-visual-substance:after, #explore-menu ul.menu:after, #block-menu-menu-search-and-explore ul.menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.ntype-candidate fieldset.group-visual-substance, #explore-menu ul.menu, #block-menu-menu-search-and-explore ul.menu {
  display: inline-block;
}
.ntype-candidate fieldset.group-visual-substance, #explore-menu ul.menu, #block-menu-menu-search-and-explore ul.menu {
/*\*/
  display: block;
/**/
  -height: 1px;
}
/*+}*/
.main-inner {
  padding-top: 15px;
}
html {
  background-color: #000000;
}
body.admin-menu {
  top: 0px;
  display: block;
  position: relative;
}
div.more-link {
  padding-right: 20px;
}
#hp-slide-show {
  display: block;
  position: absolute;
  top: 0;
  left: 230px;
}
#hp-blurb {
  display: block;
  position: relative;
  height: 410px;
  text-align: left;
  padding-top: 6px;
  width: 220px;
}
.profile dl dd {
  padding-left: 11px;
}
.node .terms {
  text-align: right;
}
h3.title {
  color: #888888;
}
h4 {
  color: #303030;
  font-size: 24px;
  text-transform: lowercase;
  margin: 20px 0;
}
h5 {
  color: #999999;
  font-size: 22px;
  margin: 20px 0 30px 20px;
  line-height: 28px;
}
/*Basic Typography & Colors
--------------------------------------------------------------
Add general site styling here for typography and background*/
body {
  font-size: 75%;
/*also set in fusion_starter.info: settings[base-font-size] = font-size-12*/
  background-color: #000000;
  color: #555555;
  margin: 0;
}
/*Default link styles - separate a:visited for a different visited link style*/
a, a:link, a:visited {
  color: #AE7640;
}
.node ul.links li a.active {
  color: #999999;
}
/*Hover/active link styles. Don't forget :focus for accessibility*/
a:hover, a:focus, a:active {
  color: #999999;
}
strong {
  color: #AAAAAA;
}
#explore-menu ul li, #block-menu-menu-search-and-explore ul li {
}
/*button links*/
#button-link a:link, #button-link a:visited {
  position: relative;
  background-color: #000000;
}
#button-link a:hover {
  background-color: #333333;
}
.link-inline {
  display: inline-block;
  width: auto;
  padding: 16px;
  margin: 0 12px 2px -10px;
}
.link-block {
  display: block;
  padding: 15px;
  margin-bottom: 1px;
}
.large-text {
  font-size: 22px;
}
#button-link a.help {
  width: 24px;
  float: right;
  top: -49px;
  background-color: #4D0A06;
  display: block;
  color: #777777;
  font-weight: normal;
  font-style: normal;
}
#user-add-content {
  margin-bottom: 50px;
  margin-top: 15px;
  padding-left: 0;
}
#user-add-content .pane-content {
  display: block;
  position: relative;
  left: 19px;
  top: 6px;
}
/*slideshows*/
#slideshow-info h4 {
  margin-bottom: 0px;
  font-size: 18px;
  padding-top: 20px;
  color: #888888;
  height: auto;
  display: block;
}
#slideshow-info {
  text-align: left;
}
.comment .picture {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  clear: left;
}
.comment .picture img {
  display: block;
  height: 54px;
}
/*Specific Typography
--------------------------------------------------------------*/
#site-name {
  font-size: 100%;
  display: block;
  position: absolute;
  top: 7px;
  right: 10px;
}
.footer-message {
  font-size: 90%;
}
/*HTML Elements
--------------------------------------------------------------
Site Info
--------------------------------------------------------------
Wrapper around logo, site name, and slogan*/
.header-site-info span {
  display: block;
}
/*Add float here to put logo and site name side by side, also add margins as
needed*/
#logo {
}
/*Link and hover styles for site name*/
#site-name a:link, #site-name a:visited, #site-name a:hover, #site-name a:active {
}
/*Typography for site slogan*/
#slogan {
}
/*Regions

Classes (.region-name) should always be used instead of IDs (#region-name) so
that Skinr styles can override them with a class later
--------------------------------------------------------------
All Regions
--------------------------------------------------------------
By default this wrapper is set to 100% width and centered -- override here to
narrow wrapper or align left or right*/
.page {
}
/*The 0 values here remove padding and spacing at the bottom of the page.
Remove to add a gap at the very bottom of the page*/
.page-inner {
  margin-bottom: 0;
  padding: 0;
}
.profile dl {
  margin-left: -1px;
  display: block;
  height: auto;
  padding-left: 0px;
}
.profile dl dd.creativecommons-user-default-license-type {
  /*[disabled]margin-left:190px;*/
}
.profile dl dd.country-name {
  /*[disabled]margin-left:191px;*/
}
/*Header Regions
--------------------------------------------------------------
Header Top region to the bottom of Header region
For full-width header background, add background image/color here*/
.header-group-wrapper {
  background-image: url(../images/bg-header-wrapper.png);
  background-repeat: repeat-x;
  background-position: bottom center;
  height: 35px;
  position: fixed;
  z-index: 200;
}
.header-group {
}
/*Header Top region which sits above the header
Works well with inline login or inline menu block style*/
.header-top-wrapper {
}
.header-top {
}
/*Primary Menu   TODO: add default colours
/--------------------------------------------------------------
Add general styles for primary menu here, such as typography, borders, floats,
or spacing above/below*/
.primary-menu {
  display: block;
  position: static;
  top: 0;
  right: 0;
  width: 960px;
  margin: 0 auto;
}
/*styles for Superfish primary menu*/
.primary-menu-inner ul.sf-menu {
  float: none;
  position: relative;
  text-align: center;
}
/*Link style for top level menu items, add padding here*/
.primary-menu-inner ul.sf-menu a, .primary-menu-inner ul.sf-menu a:visited {
}
.primary-menu-inner ul.sf-menu a:hover, .primary-menu-inner ul.sf-menu a.active, .primary-menu-inner ul.sf-menu a:active, .primary-menu-inner ul.sf-menu a:focus {
  color: #999999;
}
/*These are the top level menu items, add border-right here for separators*/
.primary-menu-inner ul.sf-menu li {
  border-right: 1px solid #303030;
  height: 26px;
  display: inline-block;
  float: none;
}
/*Add border-right: 0; here to remove separator on last menu item*/
.primary-menu-inner ul.sf-menu li.last {
}
/*Style for container of dropdown, add background or border*/
.primary-menu-inner ul.sf-menu ul {
}
/*Style for individual dropdown menu items, add border-bottom for separators*/
.primary-menu-inner ul.sf-menu li li {
  background-color: #FFF;
}
.primary-menu-inner ul.sf-menu li li.last {
}
.primary-menu-inner ul.sf-menu li li li {
}
/*Style for hover of dropdown menu items (add background-color here)*/
.primary-menu-inner ul.sf-menu li ul li:hover, .primary-menu-inner ul.sf-menu li ul li.sfHover {
}
/*Secondary menu
--------------------------------------------------------------
This menu usually appears in the header as a set of simple text links*/
.secondary-menu {
}
/*Set general style for menu here -- background, alignment, etc.*/
.secondary-menu-inner ul.links {
}
/*Add a border-right here for a separator*/
.secondary-menu-inner ul.links li {
}
/*Add border-right: 0; here to remove right separator on last menu item*/
.secondary-menu-inner ul.links li.last {
}
/*Styles for links*/
.secondary-menu-inner ul.links li a:link, .secondary-menu-inner ul.links li a:visited {
  padding: 3px;
}
.secondary-menu-inner ul.links li a:hover, .secondary-menu-inner ul.links li a:focus, .secondary-menu-inner ul.links li a.active {
}
/*Header - Search
--------------------------------------------------------------*/
.search-box {
}
.search-box-inner {
}
.search-box-inner form#search-theme-form {
}
.search-box-inner input#edit-search-theme-form-header {
}
/*Preface Regions*/
.header-site-info {
  overflow: visible;
}
/*--------------------------------------------------------------
The Preface Top region sits between the header and the Main Area
(columns, sidebars, and main content).  The Preface Bottom region
is inside the Main Area.*/
.preface-top-wrapper {
}
.preface-top {
}
.preface-top-inner {
}
.preface-bottom {
}
.preface-bottom-inner {
}
/*Main Area (content + sidebars + preface bottom + postscript top)
--------------------------------------------------------------*/
.main-wrapper {
  background-image: url(../images/bg-main-wrapper.png);
  background-repeat: repeat-x;
  background-position: bottom center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #171717;
}
/*Sidebar Regions
--------------------------------------------------------------
Sidebar widths can be controlled through theme settings*/
.sidebar-first {
}
.sidebar-last {
}
/*Content Regions
--------------------------------------------------------------*/
.content-top {
}
.content-inner {
  padding-top: 8px;
}
body.ntype-visual .content-inner {
  padding-top: 19px;
}
.content {
}
#pid-homepage .pane-visual-slideshow-panel-pane-1 {
  float: right;
  display: block;
  position: relative;
  width: 720px;
}
#user-statement .view-homepage-artist div.field-content {
  display: block;
  position: relative;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 7px;
}
#user-statement .view-homepage-artist {
  margin-left: 104px;
}
#user-statement .view-homepage-artist .views-field-title {
  text-align: right;
}
#user-statement .view-homepage-artist label {
  font-size: 22px;
  font-weight: normal;
}
#user-picture.pane-user-picture {
  float: left;
  margin-right: 16px;
}
#user-stats span.stat-title {
  font-weight: normal;
  font-style: normal;
  width: 93px;
  display: inline-block;
  text-align: right;
  margin-right: 12px;
}
#user-stats {
}
.page-search-targeted #views-exposed-form-search-content-page-1 .views-exposed-form .views-exposed-widget {
  clear: left;
}
#hp-blurb .inner .content {
  font-size: 15px;
  line-height: 1.3;
  font-weight: normal;
  text-align: left;
}
#hp-blurb ul li strong {
  color: #888888;
}
#hp-blurb ul li {
  list-style-type: none;
  margin-left: -18px;
  line-height: 1.2;
}
#slideshow-author {
  margin-bottom: 10px;
  display: block;
}
p {
  margin: 0 0 25px;
  color: #666666;
}
.two-c p, .three-c p, .four-c p {
  margin: 0 15px 25px 0;
}
div.field-field-visual-image, #artist-visual {
  text-align: center;
}
div.content-profile-display {
  border: 1px none #0D0D0D;
}
.content-bottom {
}
/*This region only appears on full node pages. It's useful for ads or other
content between the body of the node and its comments*/
.node-bottom {
}
body.ntype-visual .creativecommons p {
  margin-top: -2px;
  font-size: 95%;
}
/*Postscript & Footer Regions
--------------------------------------------------------------*/
.postscript-top {
}
.postscript-top-inner {
}
.postscript-bottom-wrapper {
}
.postscript-bottom {
}
.postscript-bottom-inner {
}
.footer-wrapper {
  padding-top: 20px;
  font-size: 13px;
}
.footer {
}
#footer {
  color: #333333;
}
.footer #search-block-form label {
  display: none;
}
#footer a {
  color: #555555;
}
#footer ul li a.active {
  color: #DDDDDD;
}
.footer-inner {
}
#copyright {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 90%;
  padding-top: 22px;
  color: #333333;
}
.footer-message-wrapper {
}
.footer-message {
}
.footer-message-inner {
}
.footer-message-text {
}
/*Page titles
/--------------------------------------------------------------
Page and full node titles*/
h1.title {
  font-size: 34px;
  padding: 23px 0 0px;
  color: #303030;
  height: auto;
  line-height: 1.2;
}
.section-users h1.title {
  font-size: 36px;
  line-height: 70px;
  color: #333333;
}
body.page-user h1.title {
  display: block;
  /*[disabled]position:absolute;*/
  color: #000000;
  font-size: 48px;
  line-height: 1.6;
  margin-bottom: 28px;
}
/*Default node styles
/--------------------------------------------------------------
Change unpublished and preview colors for dark background themes*/
.node-unpublished {
  background-color: #000;
}
a.feed-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.preview .node {
  background-color: #FFFFEA;
}
/*Typography for node titles*/
h2.title {
}
/*Colors and styles for linked node titles, ie. teaser listing at /node*/
h2.title a:link, h2.title a:visited {
}
h2.title a:hover, h2.title a:focus, h2.title a:active {
}
.profile h3 {
  border-bottom: 0px solid #333;
  margin-top: 40px;
}
/*Separators and padding for node teasers*/
.teaser {
}
div.teaser.node-type-visual {
  border-bottom: 1px solid #121212;
}
#teaser-substance {
  display: block;
  left: 0px;
  position: relative;
  top: -40px;
  margin-left: 356px;
  width: auto;
}
/*Author/date info*/
.meta {
  text-align: right;
  margin-bottom: 14px;
}
.submitted.teaser {
  text-align: right;
  margin-bottom: 3px;
}
.submitted {
  text-align: right;
  margin-bottom: 15px;
}
.node-type-article .submitted {
  float: right;
  clear: both;
  margin: 0 0 5px 10px;
}
/*Links for nodes (taxonomy, commenting, read more, etc)*/
.node ul.links li {
  margin-right: 5px;
  padding-right: 8px;
  border-right: 1px solid #555555;
}
.flag-bookmarks.last {
  border-right: 1px none #000000;
}
.node ul.links li.last {
  border-right: 1px none #000000;
}
/*Only more/read more links*/
div.node .read-more a, div.node .more-link a {
}
/*Drupal Messages
/--------------------------------------------------------------
General style for all errors/messages (border, padding, etc.)*/
div.content-messages div.messages, div.content-help div.help {
}
/*Status messages: green*/
div.content-messages-inner div.status {
}
/*Warning messages: yellow*/
div.content-messages-inner div.warning {
}
/*Error messages: red*/
div.content-messages-inner div.error {
  border-width: 0px 4px 0px 20px;
  background-color: #4D0A06;
}
/*Help messages: blue*/
div.content-help-inner div.help {
}
/*Error that appears when a required form field is not filled out*/
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #E80000;
}
